
body{
    margin: 0px;
    padding: 0px;
    /* background-color: grey; */
}

#contenedor{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 460px;
    align-items: center;
    justify-content: center;
    background-color: rgb(145, 69, 69);
}

#titulo{
    margin-top: 5px;;
}

h1{
    color: rgb(20, 4, 4);
    padding: 0px;
}

.row{
    border: 1px, solid skyblue;
}

.padre{
    /* height: 73vh;
    width: 100vw; */
    /* background-color: grey; */
    margin: 0px;
    padding: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.div1, .div2, .div3, .div4, .div5, .div6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    width: 90px;
    height: 90px;
    border: 1px solid black;
}

.jugadores{
    margin: 15px 0;
}

#botonconf, #botonreset{
    margin: 12px 5px;
    padding: 5px;
}

#turno, #info{
    margin: 10px 0;
    max-width: 800px;
}

.divarr{
    align-items: center;
    justify-content: center;

}

.circulo{
    position: absolute;
    visibility: hidden;
}
.cruz{
    position: absolute;
    visibility: hidden;
}